<div class="box" id="box">
	<h2 id="forms-horizontal">League Creation Page</h2>
	<form class="alert">
			<div class="form-group">
		    	<label for="leagueName" class="col-sm-4 control-label"><strong>League Name</strong></label>
		    	<div class="col-sm-5">
					<input type="text" id="leagueName" data-ng-model="newLeague.name">
				</div>
			</div>
			<div class="form-group">
				<label for="currentWeek" class="col-sm-4 control-label"><strong>Current Week</strong></label>
		    	<div class="col-sm-5">
					<input type="text" id="currentWeek" data-ng-model="newLeague.currentWeek">
				</div>
			</div>
			<div class="form-group">
				<label for="currentYear" class="col-sm-4 control-label"><strong>Year</strong></label>
		    	<div class="col-sm-5">
					<input type="text" id="currentYear" data-ng-model="newLeague.year">
				</div>
			</div>
			<div>
			    <div class="col-sm-offset-1 col-sm-10">
			      <button type="submit" class="btn btn-primary" data-ng-click="createLeague(newLeague)">Create</button>
			    </div>
	  		</div>
	</form>
</div>