<div class="box" id="box">
	<h2 id="forms-horizontal">League Management Page</h2>
	<form>
			<div class="form-group">
		    	<label for="leagueName" class="col-sm-2 control-label"><strong>League Name</strong></label>
		    	<div class="col-sm-10">
					<input type="text" id="leagueName" data-ng-model="newLeague.name">
				</div>
			</div>
			<div class="form-group">
				<label for="currentWeek" class="col-sm-2 control-label"><strong>Current Week</strong></label>
		    	<div class="col-sm-10">
					<input type="text" id="currentWeek" data-ng-model="newLeague.currentWeek">
				</div>
			</div>
			<div>
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="submit" class="btn btn-primary" data-ng-click="updateLeague(newLeague)">Update</button>
			    </div>
	  		</div>
	</form>
	<a href="index.html">&laquo; Back to sign in page</a>
</div>